@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

.scrolling::-webkit-scrollbar {
  width: 0.5rem;
}

.scrolling::-webkit-scrollbar-thumb {
  background-color: rgb(116, 116, 116);
}
